<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brothers.fly.aichebao">

    <!-- 访问网络权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 访问SD权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- 访问通讯录联系人权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />

    <!--允许程序打开网络套接字-->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序设置内置sd卡的写权限-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <!--用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!--用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
    <!--用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <!--用于申请调用A-GPS模块-->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS"></uses-permission>

    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|screenSize|orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.administrator.foundationdemo.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.administrator.foundationdemo.phonecall.PhoneCallActivity" />
        <activity android:name="com.example.administrator.foundationdemo.sms.SMSActivity" />
        <activity android:name="com.example.administrator.foundationdemo.file.FileActivity" />
        <activity android:name="com.example.administrator.foundationdemo.xmlparsepull.XMLParsePullActivity" />
        <activity android:name="com.example.administrator.foundationdemo.sharedpreference.SharedPreferencesActivity" />
        <activity android:name="com.example.administrator.foundationdemo.sqlite.SQLiteActivity" />
        <activity android:name="com.example.administrator.foundationdemo.provider.ProviderActivity" />
        <!-- authorities 是provider的唯一标识 ，name是要注册的ContentProvider的路径 -->
        <provider
            android:name="com.example.administrator.foundationdemo.provider.PersonProvider"
            android:authorities="com.example.administrator.foundationdemo.provider.PersonProvider" />

        <activity android:name="com.example.administrator.foundationdemo.provider.SourceProviderActivity" />
        <activity android:name="com.example.administrator.foundationdemo.contactsprovider.ContactsActivity" />
        <activity android:name="com.example.administrator.foundationdemo.http.HttpImageActivity" />
        <activity android:name="com.example.administrator.foundationdemo.animation.AnimationActivity" />
        <activity android:name="com.example.administrator.foundationdemo.animation.FrameAnimationActivity" />
        <activity
            android:name="com.example.administrator.foundationdemo.myfileobserver.FileObserverActivity"
            android:configChanges="keyboardHidden|screenSize|orientation" />
        <activity android:name="com.example.administrator.foundationdemo.toolbarmenutext.ToolbarMenu" />
        <activity android:name="com.example.administrator.foundationdemo.recyclerview.RecyclerViewActivity" />
        <activity android:name="com.example.administrator.foundationdemo.timer.TimerActivity" />
        <activity android:name="com.example.administrator.foundationdemo.getphoto.GetPhotoActivity" />
        <!-- 7.0图片共享 -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.cameraalbumtest.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
        <!--Map-->
        <activity android:name="com.example.administrator.foundationdemo.map.MapActivity"
            android:configChanges="keyboardHidden|screenSize|orientation"
            android:screenOrientation="portrait"></activity>
        <!-- 高德地图配置 -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="91a3aaeb8e37f8a5eb0ddb9b686aad57" />
        <!-- 高德地图定位 -->
        <service android:name="com.amap.api.location.APSService" />

    </application>

</manifest>
